@import "tailwindcss/theme";
@import "../styles/custom-theme.css";

@utility button-base {
  @apply px-2 py-3 border-2 rounded-full;
  font-family: 'Noto Sans CJK TC';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.03em;
}

.button {
  @apply px-2 py-3 border-2 rounded-full;
  font-family: 'Noto Sans CJK TC';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.03em;
}

.button--primary {
  @apply text-white border-ui-primary-500;
  background-color: var(--btn-custom-bg-color, var(--color-ui-primary-500));
}

.button--secondary {
  @apply text-ui-primary-500 border-ui-primary-400;
  background-color: var(--btn-custom-bg-color, var(--color-ui-primary-400));
}

.button--rounded-none {
  @apply rounded-none;
}

.button--rounded-sm {
  @apply rounded-sm;
}

.button--rounded-md {
  @apply rounded-md;
}

.button--rounded-lg {
  @apply rounded-lg;
}

.button--rounded-full {
  @apply rounded-full;
}

.button--size-sm {
  @apply text-sm px-2 py-1;
}

.button--size-md {
  @apply text-base px-4 py-2;
}

.button--size-lg {
  @apply text-lg px-6 py-3;
}
