name: Deploy Stage

on:
  push:
    branches:
      - stage

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    env:
      # [共用 env]
      AWS_REGION: ap-southeast-1 # AWS Region

      # [storybook env]
      STORYBOOK_OUTPUT_PATH: packages/ui/storybook-static # storybook build output path
      S3_BUCKET_STORYBOOK: siyamap-ui-stage # 用來存 static 的 S3 bucket

      # [NextJS env]
      NEXTJS_STATIC_OUTPUT_PATH: apps/web/.next/static # Next.js static output path
      S3_BUCKET_NEXTJS_STATIC: siyamap-static-stage # 用來存 Next.js 靜態資產的 S3 bucket
      LAMBDA_NAME_NEXTJS_SSR: siyamap-ssr-stage # Lambda function name

    steps:
      # 1. 拉 repo
      - name: 1. Checkout code
        uses: actions/checkout@v4

      # 2. 固定 Node 版本
      - name: 2. Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
        env:
          PNPM_STORE_PATH: ~/.pnpm-store

      - uses: pnpm/action-setup@v4
        with:
          version: 9

      # 3. 安裝依賴
      - name: 3. Install dependencies
        run: pnpm install --frozen-lockfile

      # 4. 設定 AWS credentials
      - name: 4-1. Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      # 5. Build storybook
      - name: 5. Build Storybook
        run: pnpm -F @siyamap/ui build:storybook

      # 5-1. 上傳 storybook 到 S3
      - name: 5-1. Upload storybook to S3
        run: |
          aws s3 sync ${{ env.STORYBOOK_OUTPUT_PATH }}/ s3://${{ env.S3_BUCKET_STORYBOOK }} \
            --delete \
            --cache-control "no-cache"

      # 5-2. 清除 Storybook CloudFront cache
      - name: 5-2. Invalidate storybook CloudFront
        if: success()
        run: |
          aws cloudfront create-invalidation \
            --distribution-id ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID_STAGE_UI }} \
            --paths "/index.html" "/iframe.html"

      # 6. Build Next.js
      - name: 6. Build Next.js
        run: pnpm -F @siyamap/web build

      # 6-1. 打包壓縮 lambda 需要檔案
      - name: 6-1. Package Lambda
        run: |
          cd apps/web
          zip -r lambda.zip lambda.js .next/standalone node_modules

      # 6-2. 更新 Lambda function
      - name: 6-2. Update Lambda function
        run: |
          aws lambda update-function-code \
            --function-name ${{ env.LAMBDA_NAME_NEXTJS_SSR }} \
            --zip-file fileb://apps/web/lambda.zip

      # 6-3 更新 S3 上的 Next.js 靜態資產
      - name: 6-3. Sync Next.js static assets to S3
        run: |
          aws s3 sync ${{ env.NEXTJS_STATIC_OUTPUT_PATH }} s3://${{ env.S3_BUCKET_NEXTJS_STATIC }} --delete
            --cache-control "public, max-age=31536000, immutable"

      # 6-4. 清除 Next.js static CloudFront cache
      - name: 6-4. Invalidate Next.js static CloudFront
        if: success()
        run: |
          aws cloudfront create-invalidation \
            --distribution-id ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID_STAGE_STATIC }} \
